<!-- Planets, Spaceships, Vehicles, People, Films and Species -->
<div style="text-align:center">
    <aside>Name: {{results.name}}</aside>
    <p *ngIf='category === "Planet"'>
        {{results.rotation_period}}<br>
        {{results.orbital_period}}<br>
        {{results.diameter}}<br>
        {{results.films}}<br>
    </p>
    <p *ngIf='category === "People"'>
        {{results.height}}<br>
        {{results.mass}}<br>
        {{results.gender}}<br>
        {{results.films}}<br>
    </p>
    <p *ngIf='category === "Species"'>
        {{results.classification}}<br>
        {{results.designation}}<br>
        {{results.people}}<br>
        {{results.films}}<br>
    </p>
    <p *ngIf='category === "Starship"'>
        {{results.model}}<br>
        {{results.manufacturer}}<br>
        {{results.length}}<br>
        {{results.films}}<br>
    </p>
</div>

